[Match]
Name=mv-{{ systemd_PrivateNetworkInterface }}

[Network]
DHCPServer=true
Address={{ systemd_PrivateNetworkLocalDHCPGateway }}
{% if (systemd_version | int) >= 230 %}
IPMasquerade=true
IPForward=true
{% endif %}

[DHCPServer]
PoolOffset=50
PoolSize=200
DefaultLeaseTimeSec=300s
{% if (systemd_version | int) >= 230 %}
EmitDNS=true
EmitNTP=true
EmitTimezone=true
{% endif %}
